# VitalGuard Frontend - Variables de configuración
# Copiar a environment.ts / environment.docker.ts según el entorno

# URL base del BFF (Spring Boot)
API_URL=http://54.210.62.242:8080/api

# Azure AD / Microsoft Entra ID
AZURE_CLIENT_ID=765a73b2-5568-41b3-a9a4-2d865745b67c
AZURE_TENANT_ID=334d911e-3379-464e-a4fe-83cbd4fcdad3
AZURE_AUTHORITY=AZURE_AUTHORITY=https://duoc2026cn1m.b2clogin.com/duoc2026cn1m.onmicrosoft.com/B2C_1_login2'
AZURE_REDIRECT_URI=http://localhost:4200
AZURE_BFF_SCOPE=api://765a73b2-5568-41b3-a9a4-2d865745b67c/.default

# Polling (milisegundos)
POLLING_INTERVAL_VITALS=5000
POLLING_INTERVAL_DASHBOARD=10000
